<template>
	<div class="site-wrap">
		<modal v-if="showModal" @close="showModal = false">
			<h3 slot="header">Fill in the below form to add the person(s) you are looking for.</h3>
			<div class="container" slot="body">
				<div class="row">
					<div class="col-6">
						<div class="form-group" :class="{'has-error': errors.has('firstname') }">
							<input :class="{'is-danger': errors.has('firstname') }" v-model="submitfName" name="firstname" type="text" class="form-control" id="first-name" placeholder="Your First Name" v-validate="'required'">
							<small v-show="errors.has('firstname')" class="text-danger">{{ errors.first('firstname') }}</small>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group" :class="{'has-error': errors.has('lastname') }">
							<input v-model="submitlName" name="lastname"  type="text" class="form-control" id="last-name"placeholder="Your Last Name" v-validate="'required'">
							<small v-show="errors.has('lastname')" class="text-danger">{{ errors.first('lastname') }}</small>
						</div>
					</div>
				</div>
				<div class="row mt-3 mb-3">
					<div class="col-12">
						<div class="form-group" :class="{'has-error': errors.has('submEmail') }">
							<label for="your-email">
								Enter your email to receive a notification when the person(s) you have added are marked
								as safe.
							</label>
							<input v-model="submitEmail" name="submEmail" type="email" class="form-control" id="your-email" placeholder="Your Email Address" v-validate="'email'">
							<small v-show="errors.has('submEmail')" class="text-danger">{{ errors.first('submEmail') }}</small>
						</div>

						<div class="form-group mt-3" :class="{'has-error': errors.has('submEmail') }">
							<label for="submitContact">
								Enter any contact method here which will be visible to other users.
							</label>
							<input v-model="submitContact" name="submitContact" type="email" class="form-control" id="submitContact" placeholder="Your contact information">
							<small v-show="errors.has('submitContact')" class="text-danger">{{ errors.first('submitContact') }}</small>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label>
								Enter the names of the person(s) you are looking for.
							</label>
							<template v-for="(person, index) in personsAdding" :key="index">
								<div class="row">
									<a class="removePerson" @click="removePerson(index)">x</a>
									<div class="col-6">
										<div class="form-group" :class="{'has-error': errors.has('fname' + index.toString()) }">
											<input v-model="person.fName" :name="'fname' + index.toString()" type="text" class="form-control" placeholder="First Name" v-validate="'required'">
											<small v-show="errors.has('fname' + index.toString())" class="text-danger">{{ errors.first('fname' + index.toString()) }}</small>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group" :class="{'has-error': errors.has('lname' + index.toString()) }">
											<input v-model="person.lName" :name="'lname' + index.toString()" type="text" class="form-control" placeholder="Last Name" v-validate="'required'">
											<small v-show="errors.has('lname' + index.toString())" class="text-danger">{{ errors.first('lname' + index.toString()) }}</small>
										</div>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-6">
										<div class="form-group" :class="{'has-error': errors.has('location' + index.toString()) }">
											<input v-model="person.location" :name="'location' + index.toString()" type="text" class="form-control" placeholder="Location">
											<small v-show="errors.has('location' + index.toString())" class="text-danger">{{ errors.first('location' + index.toString()) }}</small>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group" :class="{'has-error': errors.has('nationality' + index.toString()) }">
											<input v-model="person.nationality" :name="'nationality' + index.toString()" type="text" class="form-control" placeholder="Nationality">
											<small v-show="errors.has('nationality' + index.toString())" class="text-danger">{{ errors.first('nationality' + index.toString()) }}</small>
										</div>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-12">
										<div class="form-check">
											<label class="form-check-label">
												<input v-model="person.status" v-bind:true-value="1" v-bind:false-value="0" class="form-check-input" type="checkbox" value="">
												Mark as safe
											</label>
										</div>
									</div>
								</div>
								<hr>
							</template>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-12">
						<button @click="addPerson" class="btn btn-info" type="button">Add another person</button>
					</div>
				</div>
			</div>
			<div class="row justify-content-center" slot="footer">
				<div class="row justify-content-center">
					<button @click="submitPersons" type="button" class="btn btn-success">
						Submit
					</button>
				</div>
			</div>
		</modal>
		<div class="head-wrapper">
			<div class="container">
				<div class="row align-items-center justify-content-between mt-2 mb-2">
					<div class="col-8 col-sm-auto">
						<img src="/img/logo.png" />
					</div>

					<div class="col-4 col-sm-auto">
						<button @click="openModal" type="button" class="btn btn-primary">Add a Person</button>
					</div>
				</div>
			</div>
		</div>
		<div class="intro-wrapper">
			<div class="container">
				<div class="row mt-4 mb-4">
					<div class="col-12">
						<h1>BVI Hurricane Irma Safety Check</h1>
						<p>
							This is a safety check page which we have put together to help friends and family post the
							status of loved ones in the British Virgin Islands affected by Hurricane Irma. As many know
							the communications are down in most of the BVI and people are trying to find out if friends
							and family members in the BVI are safe.
						</p>

						<p><strong>
							Please only post people who are known to be in the BVI and not other countries. Please search
							for the person you are looking for before posting to avoid duplicate entries.
						</strong></p>

						<p>
							Community updates can be found on the <a href="https://www.facebook.com/groups/1922822811318744/">
							BVI Abroad - Hurricane Irma</a> Facebook page.
						</p>

						<p>
							For donations Richard Branson has setup a donation fund with no fees. WE STRONGLY URGE YOU TO #DONATE.
							<a href="https://www.virgin.com/unite/bvi-community-support-appeal">Click Here.</a>
						</p>
						<p>
							A website for information and updates for aid and relief to the British Virgin Islands has
							been setup, <a href="https://bvirelief.com/">https://bvirelief.com/</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="search-wrapper">
			<div class="container">
				<div class="row mt-4 mb-2">
					<div class="col-auto">
						<p><strong>Total Entries:</strong> {{ people.length }}</p>
					</div>
					<div class="col-auto">
						<p><strong>People Marked as Safe:</strong> {{ safeCount }}</p>
					</div>
					<div class="col-auto">
						<p><strong>People Marked as Unknown:</strong> {{ unknownCount }}</p>
					</div>
				</div>
				<div class="row align-items-end mt-2 mb-5">
					<div class="col-auto">
						<div class="form-group search-area">
							<label for="look-for"><strong>Search by looking for</strong></label>
							<input @input="page = 1" @keyup="page = 1" @change="page = 1" v-model="searchFor" type="text" class="form-control" id="look-for"placeholder="search">
							<button v-if="searchFor !== ''" @click="searchFor = ''" type="button" class="close" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
					</div>
					<div class="col-auto">
						<div class="form-group search-area">
							<label for="submit-by"><strong>Search submitted by</strong></label>
							<input @input="page = 1" @keyup="page = 1" @change="page = 1" v-model="searchBy" type="text" class="form-control" id="submit-by"placeholder="search">
							<button v-if="searchBy !== ''" @click="searchBy = ''" type="button" class="close" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
					</div>
					<div class="col-auto">
						<button @click="openModal" type="button" class="btn btn-primary">Add a Person</button>
					</div>
				</div>
			</div>
		</div>
		<div class="results-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="">
							<ul class="pagination justify-content-center">
								<li class="page-item" :class="{'disabled': page === 1 }">
									<a class="page-link" @click="previousPage" :class="{'disabled': page === 1 }">Previous</a>
								</li>
								<li class="page-item disabled">
									<a class="page-link">
										Page {{ page }} of {{ maxPage }}
									</a>
								</li>
								<li class="page-item" :class="{'disabled': page*pagination > currentFilters.length}">
									<a class="page-link" @click="nextPage">Next</a>
								</li>
							</ul>
						</nav>
						<table class="table table-hover table-striped" :class="{'table-responsive': responsive }">
							<thead>
							<tr>
								<th class="sname">
									Submitted by Name
									<button @click="sort = 'name'; order = 'asc'" type="button" aria-label="Close" class="up"><span aria-hidden="true">&#x25B2;</span></button>
									<button @click="sort = 'name'; order = 'desc'" type="button" aria-label="Close" class="down"><span aria-hidden="true">&#x25BC;</span></button>
								</th>
								<th class="pname">
									Looking For Name
									<button @click="sort = 'fname'; order = 'asc'" type="button" aria-label="Close" class="up"><span aria-hidden="true">&#x25B2;</span></button>
									<button @click="sort = 'fname'; order = 'desc'" type="button" aria-label="Close" class="down"><span aria-hidden="true">&#x25BC;</span></button>
								</th>
								<th class="status">
									Status
									<button @click="sort = 'status'; order = 'asc'" type="button" aria-label="Close" class="up"><span aria-hidden="true">&#x25B2;</span></button>
									<button @click="sort = 'status'; order = 'desc'" type="button" aria-label="Close" class="down"><span aria-hidden="true">&#x25BC;</span></button>
								</th>
								<th class="location">
									Location
									<button @click="sort = 'location'; order = 'asc'" type="button" aria-label="Close" class="up"><span aria-hidden="true">&#x25B2;</span></button>
									<button @click="sort = 'location'; order = 'desc'" type="button" aria-label="Close" class="down"><span aria-hidden="true">&#x25BC;</span></button>
								</th>
								<th class="nationality">
									Nationality
									<button @click="sort = 'nationality'; order = 'asc'" type="button" aria-label="Close" class="up"><span aria-hidden="true">&#x25B2;</span></button>
									<button @click="sort = 'nationality'; order = 'desc'" type="button" aria-label="Close" class="down"><span aria-hidden="true">&#x25BC;</span></button>
								</th>
								<th class="contactinfo">
									Contact Info
									<button @click="sort = 'cinfo'; order = 'asc'" type="button" aria-label="Close" class="up"><span aria-hidden="true">&#x25B2;</span></button>
									<button @click="sort = 'cinfo'; order = 'desc'" type="button" aria-label="Close" class="down"><span aria-hidden="true">&#x25BC;</span></button>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr v-for="(person, index) in pagedPeople" :key="person.id">
								<td class="sname">{{ person.submitter }}</td>
								<td class="pname">{{ person.person_fname + ' ' + person.person_lname }}</td>
								<td class="status">
									<button v-if="person.status === '0'" @click="markSafe(index)" type="button" class="btn btn-success">
										Mark as Safe
									</button>
									<template v-if="person.status === '1'">
										<strong>This person has been marked as safe. </strong><a @click="reOpen(index)" class="reopen">
										Re-open
									</a>
									</template>
								</td>
								<td class="location">{{ person.location }}</td>
								<td class="nationality">{{ person.nationality }}</td>
								<td class="contactinfo">{{ person.contactinfo }}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Modal from './Modal.vue'

	export default {
		name: 'app',
		data () {
			return {
				page: 1,
				pagination: 50,
				sort: '',
				order: '',
				submitting: false,
				responsive: false,
				submitContact: '',
				submitfName: '',
				submitlName: '',
				submitEmail: '',
				showModal: false,
				searchBy: '',
				searchFor: '',
				personsAdding: [],
				people: null,
				safeCount: 0,
				unknownCount: 0,
				validatorText: {
					en: {
						attributes: {
							firstname : 'First Name',
							lastname: 'Last Name',
							submEmail: 'Email',
							fname0: 'First Name',
							lname0: 'Last Name',
							fname1: 'First Name',
							lname1: 'Last Name',
							fname2: 'First Name',
							lname2: 'Last Name'
						}
					}
				},
			}
		},
		computed: {
			currentFilters() {
				if (this.people === null || this.people === undefined)
					return []

				let filtered = this.people;

				if (this.searchBy !== '' || this.searchFor !== '') {
						filtered = this.people.filter(function(person) {
						let personName = person.person_fname + ' ' + person.person_lname;
						let submitName = person.submitter;
						personName = personName.toLowerCase();
						submitName = submitName.toLowerCase();
						let ret = 1;

						if (App.searchFor !== '')
							ret = (personName.indexOf(App.searchFor.toLowerCase()) !== -1);

						if (App.searchBy !== '')
							ret = (submitName.indexOf(App.searchBy.toLowerCase()) !== -1);

						return ret
					})
				}

				if (this.sort !== '' || this.order !== '') {
					return filtered.sort(this.sortPeople);
				}
				return filtered;
			},
			pagedPeople() {
				return this.currentFilters.slice(((this.page-1) * this.pagination),this.page*this.pagination);
			},
			maxPage() {
				if (this.currentFilters.length === 0) return 1;
				return Math.ceil(this.currentFilters.length / this.pagination)
			}
			/*safeCount() {
				let count = 0;
				for (let index in this.people) {
					if (this.people[index].status === '1') {
						count++;
					}
				}
				return count;
			},
			unknownCount() {
				let count = 0;
				for (let index in this.people) {
					if (this.people[index].status === '0') {
						count++;
					}
				}
				return count;
			}*/
		},
		methods: {
			resize() {
				if (window.innerWidth < 900) {
					this.responsive= true;
				} else {
					this.responsive= false;
				}
			},
			sortPeople(a, b) {
				switch (this.sort) {
					case 'name':
						let submitA = a.submitter.toLowerCase().trim();
						let submitB = b.submitter.toLowerCase().trim();
						if (submitA.length === 0) return 1;
						if (submitB.length === 0) return -1;
						if (!submitA.charAt(0).match(/[a-z]/i)) return 1;
						if (!submitB.charAt(0).match(/[a-z]/i)) return -1;
						if (this.order === 'asc')
							if(submitA < submitB) return -1;
						if (this.order === 'desc')
							if(submitA > submitB) return -1;
						return 1;
						break;
					case 'fname':
						let findA = (a.person_fname + ' ' + a.person_lname).toLowerCase().trim();
						let findB = (b.person_fname + ' ' + b.person_lname).toLowerCase().trim();
						if (findA.length === 0) return 1;
						if (findB.length === 0) return -1;
						if (!findA.charAt(0).match(/[a-z]/i)) return 1;
						if (!findB.charAt(0).match(/[a-z]/i)) return -1;
						if (this.order === 'asc')
							if(findA < findB) return -1;
						if (this.order === 'desc')
							if(findA > findB) return -1;
						return 1;
						break;
					case 'status':
						if (this.order === 'asc')
							if(a.status < b.status) return -1;
						if (this.order === 'desc')
							if(a.status > b.status) return -1;
						return 1;
						break;
					case 'location':
						let locationA = a.location.toLowerCase().trim();
						let locationB = b.location.toLowerCase().trim();
						if (locationA.length === 0) return 1;
						if (locationB.length === 0) return -1;
						if (!locationA.charAt(0).match(/[a-z]/i)) return 1;
						if (!locationB.charAt(0).match(/[a-z]/i)) return -1;
						if (this.order === 'asc')
							if(locationA < locationB) return -1;
						if (this.order === 'desc')
							if(locationA > locationB) return -1;
						return 1;
						break;
					case 'nationality':
						let nationalityA = a.nationality.toLowerCase().trim();
						let nationalityB = b.nationality.toLowerCase().trim();
						if (nationalityA.length === 0) return 1;
						if (nationalityB.length === 0) return -1;
						if (!nationalityA.charAt(0).match(/[a-z]/i)) return 1;
						if (!nationalityB.charAt(0).match(/[a-z]/i)) return -1;
						if (this.order === 'asc')
							if(nationalityA < nationalityB) return -1;
						if (this.order === 'desc')
							if(nationalityA > nationalityB) return -1;
						return 1;
						break;
					case 'cinfo':
						let cinfoA = a.contactinfo.toLowerCase().trim();
						let cinfoB = b.contactinfo.toLowerCase().trim();
						if (cinfoA.length === 0) return 1;
						if (cinfoB.length === 0) return -1;
						if (!cinfoA.charAt(0).match(/[a-z]/i)) return 1;
						if (!cinfoB.charAt(0).match(/[a-z]/i)) return -1;
						if (this.order === 'asc')
							if(cinfoA < cinfoB) return -1;
						if (this.order === 'desc')
							if(cinfoA > cinfoB) return -1;
						return 1;
						break;
					default:
						return 1;
				}
			},
			openModal() {
				this.showModal = true;
			},
			addPerson() {
				//var elem = document.createElement('tr');
				this.personsAdding.push({
					fName: "",
					lName: "",
					nationality: "",
					status: 0,
					location: ""
				});
			},
			removePerson(key) {
				this.personsAdding.splice(key, 1);
			},
			markSafe(id) {
				window.person= this.pagedPeople[id]
				App.$http.post(
					'/changeStatus.php',
					{
						id: window.person.id,
						status: 1

					}
				).then(response => {
					window.person.status = '1'
				}, response => {
					alert('An error occurred, please refresh');
				});
			},
			reOpen(id) {
				window.person = this.pagedPeople[id]
				App.$http.post(
					'/changeStatus.php',
					{
						id: window.person.id,
						status: 0

					}
				).then(response => {
					window.person.status = '0'
				}, response => {
					alert('An error occurred, please refresh');
				});
			},
			submitPersons() {
				if (App.submitting === false) {
					App.submitting = true
					this.$validator.validateAll().then(function (result, temp) {
						if (result) {
							App.$http.post(
								'/addPerson.php',
								{
									persons: App.personsAdding,
									submitter: {
										fname: App.submitfName,
										lname: App.submitlName,
										email: App.submitEmail,
										contactInfo: App.submitContact
									}
								}
							).then(response => {
								location.reload();
								App.personsAdding = [];
							}, response => {
								alert('An error occurred, please try again');
								App.submitting = false
							});
						} else
							App.submitting = false
					});
				}
			},
			nextPage() {
				if (this.page*this.pagination < this.currentFilters.length) {
					this.page++;
				}
			},
			previousPage() {
				if (this.page > 1)
					this.page--;
			}
		},
		components: {
			modal: Modal
		},
		created() {
			this.people = People;
			this.addPerson();
			window.App = this;
			this.$validator.updateDictionary(this.validatorText);
			window.addEventListener('resize',this.resize);
			this.resize();
			this.safeCount = Safe
			this.unknownCount = Unknown;
		}
	}
</script>

<style lang="scss">
	html {
		font-size: 14px;
	}
	.col-auto, .col-sm-auto { padding-left: 15px; padding-right: 15px; }
	.form-group { margin: 0; }
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		margin-top: 60px;
	}

	.intro-wrapper {
		background: #EEEEEE;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}
	.removePerson {
		cursor: pointer;
		position: absolute;
		right: 5px;
		color: red !important;
		top: 7px;
		z-index: 9;
	}
	.row { position: relative; }
	.head-wrapper img {
		max-width: 100%;
		max-height: 68px;
	}
	.reopen { text-decoration: underline !important; color: #428dcc !important; }
	.reopen:hover, .btn:hover {
		cursor: pointer;
	}
	th.location, td.location {
		max-width: 300px;
	}
	td.sname, th.sname, th.pname, td.pname {
		max-width: 150px;
	}
	th.status, td.status {
		max-width: 190px;
	}
	td.contactinfo {
		word-break: break-all;
		word-break: break-word;
	}
	.search-area { position: relative; }
	.search-area .close {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 6px;
	}
	.close:hover {
		color: red;
	}
	th {
		position: relative;
	}
	button.up {
		padding: 0;
		cursor: pointer;
		background: 0 0;
		border: 0;
		-webkit-appearance: none;
		position: absolute;
		right: 14px;
		top: 2px;
		font-size: 12px;
	}
	button.down {
		padding: 0;
		cursor: pointer;
		background: 0 0;
		border: 0;
		-webkit-appearance: none;
		position: absolute;
		right: 0;
		top: 2px;
		font-size: 12px;
	}
	.page-item {
		cursor: pointer;
	}
	.page-item.disabled {
		cursor: initial;
	}
</style>
