<!-- template for the modal component -->
<template>
	<transition name="modal">
		<div class="modal-mask">
			<div class="modal-wrapper" v-on:click.self="$emit('close')">
				<div class="modal-container container">
					<button type="button" class="close" @click="$emit('close')" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<div class="modal-header">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<slot name="header">
										default header
									</slot>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-body">
						<slot name="body">
							default body
						</slot>
					</div>

					<div class="modal-footer">
						<div class="container">
							<slot name="footer">
								default footer
								<button class="btn btn-primary float-right" @click="$emit('close')">
									OK
								</button>
							</slot>
						</div>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<style>
	.modal-mask {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
	}

	.modal-wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	.modal-container {
		max-width: 400px;
		margin: 0px auto;
		padding: 9px 0;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
		transition: all .3s ease;
		font-family: Helvetica, Arial, sans-serif;
		max-height: 100vh;
		overflow: auto;
	}
	.modal-container .close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 6px;
	}

	.modal-header h3 {
		margin-top: 0;
		color: #42b983;
	}

	.modal-body {
		margin: 20px 0;
	}

	.modal-body, .modal-header, .modal-footer {
		padding: 15px 0;
	}

	.modal-default-button {
		float: right;
	}

	/*
	 * The following styles are auto-applied to elements with
	 * transition="modal" when their visibility is toggled
	 * by Vue.js.
	 *
	 * You can easily play with the modal transition by editing
	 * these styles.
	 */

	.modal-enter {
		opacity: 0;
	}

	.modal-leave-active {
		opacity: 0;
	}

	.modal-enter .modal-container,
	.modal-leave-active .modal-container {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
</style>